<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-icon name="planet-outline"></ion-icon> Planets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-list color="dark">
    <ion-item *ngFor="let value of allPlanets" color="dark">
      <ion-avatar slot="start">
        <img src="../assets/pngwave.png">
      </ion-avatar>
      <ion-label>
        <h2>Name : {{ value.name }}</h2>
        <h3>Gravity : {{ value.gravity }} </h3>
        <p>Terrain : {{ value.terrain }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
