<ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-icon name="man-outline"></ion-icon> Character
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-list color="dark">
    <ion-item *ngFor="let value of allPeople" color="dark">
      <ion-avatar slot="start">
        <img src="../assets/clone-trooper.png">
      </ion-avatar>
      <ion-label>
        <h2>Name : {{ value.name }}</h2>
        <h3>Height : {{ value.height }} </h3>
        <p> Mass : {{ value.mass }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>