<ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-icon name="airplane-outline"></ion-icon> Starships
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-list>
    <ion-item *ngFor="let value of allStarships" color="dark">
      <ion-avatar slot="start">
        <img src="../assets/starship.png">
      </ion-avatar>
      <ion-label>
        <h2>Name : {{ value.name }}</h2>
        <h3>Model : {{ value.model }}</h3>
        <p>Starship class : {{ value.starshipClass }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
